* {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 148, 0.288);
    font-family: "Gloria Hallelujah", cursive;
    background-image: url('./img/heart.webp');
    background-size: 100px;
    position: relative;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-image: url('./img/heart.webp'); /* Replace with your image URL */
    background-size: 100px;
    background-repeat: no-repeat;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: scaleX(-1);
    }
    to {
        transform: scaleX(0);
    }
}

.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.game-container {
    background-color: rgba(255, 192, 203, 0.623);
    padding: 20px;
}
#my-gameboard {
    height: 500px; 
    width: 500px;
    display: grid;
    color: white;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    background-color: rgba(165, 42, 42, 0.849);
    border-radius: 5px;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    border: 5px solid rgba(92, 7, 7, 0.89);
    height: 150px;
    width: 150px;
    font-size: 80px;
    font-family: "arial";
    padding:3.5px;
   border-radius: 15px;
}
.cell:hover {
    background-color: pink;
}
