#my-gameboard {
    background-color: purple;
    height: 500px; 
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#my-tiles {
    border: 3px solid rgba(255, 0, 0, 0.151);
    width: 100%;
    height: 100%;
}
#my-tiles:hover {
    background-color: pink;
}
testing
