#my-gameboard {
    background-color: purple;
    height: 500px; 
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#my-tiles {
    border: 5px solid red;
    width: 95%;
    height: 95%;
}